body{
  margin: 0;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  font-family: 'Lora', serif;
  font-family: 'Aleo', serif;
}
h3 {
  font-family: 'Aleo', serif;
  font-size: 1em;
  font-weight: 300;
  color: #BEBEBE;
  line-height: 1.6;
}
h2 {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: 900;
  color: #BEBEBE;
  margin: 0 0 21px 0;
}
ul {
  list-style-type: none;
}
a{
  text-decoration: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.inner {
  margin: 0 auto;
  max-width: 100%;
  padding: 67px 30px;
  overflow: hidden;
}
.clear{
  clear: both;
}

/*===================================
============== NAVBAR ===============
===================================*/
.navbar {
  font-family: 'Lato', sans-serif;
  font-size: 0.7em;
  min-height: 50px;
  margin-bottom: 0px;
  border: 1px solid transparent;
}
.navbar-default {
  background-color: white;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
}
.brand{
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: tomato;
}
/*===================================
============== BAJADA ===============
===================================*/
.bajada {
  padding: 50px 40px;
  background-color: #E6E6E6;
  margin: 0;
  text-align: center;
}

/*===================================
============= OFICINAS =============
===================================*/
.relative{
  position: relative;
  max-width: 300px;
}
.relative a {
  width: inherit;
  height: inherit;
  display: inline-block;
}
.relative img {
  width: 100%;
  display: block;
}
.absolute{
  padding: 5px;
  font-family: 'Lato', sans-serif;
  font-size: 0.7em;
  font-weight: 300;
  text-align: center;
  color: #E6E6E6;
  line-height: 1.6;
  position: absolute;
  bottom: 0;
  background-color: RGBA(45,48,58,.5);
  width: 100%;
}
#oficinas {
  background: #2d303a;
  overflow: hidden;
}
#oficinas ul.oficinas li {
  float: left;
  margin: 0 15px 15px 0;
}
.oficinas{
  padding-top: 40px;
}
.oficinas-menu li a{
  font-family: 'Lato', sans-serif;
  font-size: 12px;
	font-weight: 300;
  overflow: hidden;
  float: left;
	display: inline;
	margin: 0 10px 0 0;

  -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #666d89;
  color: #767e9e;
  padding: 4px 7px;
  height: 100%;
  display: block;
}
.oficinas-menu li a{

}

/*===================================
============= FOOTER =============
===================================*/
.footer{
  text-align: center;
  background-color: #E6E6E6;
  padding: 40px;
  overflow: hidden;
}
.icon{
  color: #2d303a;
  /* border: 1px solid #2d303a;
  border-radius: 50%;
  padding: 5px; */
  margin: 3px;
}
